# Dependencies
node_modules/

# Turborepo
.turbo/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# Secrets / local env
*.pem
.env
.env*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
